body {
	font-family: helvetica;
}

.header {
	background-color: rgb(255,255,255);
	text-align:center;
padding-top: 10px;
padding-bottom: 70px;

}

.header2 {
	background-color: rgb(242,242,242);
	text-align:center;
	padding-top: 10px;
	padding-bottom: 20px;
    position: absolute;
    right: 0; 
    left: 0;

}
.header3 {
	background-color: rgb(242,242,242);
	text-align:center;
	padding-top: 10px;
	padding-bottom: 20px;
    position: absolute;
    right: 0; 
    left: 0;
}


.imgheader {
	background: url("./img/img1.png");
	width: 10%;
	margin: auto;
	border: 5px solid;
	border-color: white;
}

.pictureprofile {
	padding-top: 10px;
	padding-bottom: 20px;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF),color-stop(0.3,#FFFFFF),color-stop(0.3,#E6E6E6), to(#E6E6E6));
}

.pictureprofile img {
	width: 30%;
	margin: auto;
	border: 5px solid;
	border-color: white;
	margin-left: 6%;
}

.profile1 {
	padding-top: 10px;
	padding-bottom: 30px;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#E6E6E6),color-stop(0.4,#E6E6E6),color-stop(0.4,#CCCCCC), to(#CCCCCC));
}

.profile2 {
	padding-top: 10px;
	padding-bottom: 30px;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCCCCC),color-stop(0.4,#CCCCCC),color-stop(0.4,#999999), to(#999999));
	text-align: right;
}

strong {
	font-size: 34px;
}