body {
	font-family: helvetica;
}

.header {
	background-color: rgb(255,255,255);
	text-align:center;
	position: relative;
	padding: 1em 0;
}

#subhead1 {
	background-color: rgb(242,242,242);
}
#subhead2 {
	background-color: rgb(230,230,230);
}
#subhead3 {
	background-color: rgb(204,204,204);
}
#subhead4 {
	background-color: rgb(179,179,179);
}
#subhead5 {
	background-color: rgb(128,128,128);
}
#subhead6 {
	background-color: rgb(102,102,102);
}
#subhead7 {
	background-color: rgb(77,77,77);
}

#imgprofile {
	
}

.imgheader {
	background: url("./img/img1.png");
	width: 10%;
	margin: auto;
	border: 5px solid;
	border-color: white;
}

.pictureprofile {
	padding-top: 10px;
	padding-bottom: 20px;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF),color-stop(0.3,#FFFFFF),color-stop(0.3,#E6E6E6), to(#E6E6E6));
}

.pictureprofile img {
	width: 30%;
	margin: auto;
	border: 5px solid;
	border-color: white;
	margin-left: 6%;
}

.profile1 {
	padding-top: 10px;
	padding-bottom: 30px;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#E6E6E6),color-stop(0.4,#E6E6E6),color-stop(0.4,#CCCCCC), to(#CCCCCC));
}

.profile2 {
	padding-top: 10px;
	padding-bottom: 30px;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCCCCC),color-stop(0.4,#CCCCCC),color-stop(0.4,#999999), to(#999999));
	text-align: right;
}

strong {
	font-size: 34px;
}